.bg-pixel-dark {
    background-image: url('../public/assets/dark-pixel-grid.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }

.bg-pixel-light {
    background-image: url('../public/assets/light-pixel-grid.svg');
    background-repeat: no-repeat;
}

.bg-glow-pry {
    background-image: url('../public/assets/blur-glow-pry.svg');
    background-repeat: no-repeat;
  }

.dark-primary{
  background: #0d1117;
}

body {
  background: url('../public/assets/blur-glow-pry.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

